@page
@model DisasterRecovery.Pages.MachineCodeManagement.IndexModel
@{
    ViewData["Title"] = "Machine Management";
}

<h2><b>Machine Management</b></h2>
<p>Create and manage your machines, usage rates and maximum hours</p>
<br />
<p>
    <a class="btn btn-success" role="button" asp-page="./Create">
        Create New &nbsp;<i class="bi bi-plus"></i>
    </a>
</p>
<table style="border-top: 1px solid black;" class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                Machine Code
            </th>
            <th>
                Description
            </th>
            <th>
                Usage Rate
            </th>
            <th>
                Max Hours Per Day
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.MachineCodeList)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MachineCodeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UsageRate)/Hr.
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxHoursPerDay) Hrs.
                </td>
                <td>
                    <a class="btn btn-warning btn-sm mx-1" role="button" asp-page="./Edit" asp-route-id="@item.MachineCodeID">
                        Edit&nbsp;<i class="bi bi-pencil-square"></i>
                    </a>
                    <a class="btn btn-danger btn-sm mx-1" role="button" asp-page="./Delete" asp-route-id="@item.MachineCodeID">
                        <i class="bi bi-trash"></i>@* &nbsp;Delete *@
                    </a>
            </td>
            </tr>
        }
    </tbody>
</table>
